/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@font-face {
font-family: "Righteous";
src: url("../fonts/Righteous-Regular.ttf");
src: url("../fonts/Lato-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 30px;
    font-family: Poppins;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

hr {
    color: #fefeff;
    width: 100%;
    height: 2px;
    margin: 5px;
    border: 2px solid #fefeff;
    border-style: solid;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
    padding-top: 5%;
    padding-bottom: 5%;
}

.padding_0{
     padding: 0px;
}

.logo {
    float: left;
    min-width: 7.5%;
    max-width: 15%;
    padding-left: 1%;
    padding-right: 1%;
}
.navbar {
    padding: 0.25% 0.5%;
    padding-bottom: 0.5%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: calc(0.85vw + 0.85vh);
    text-align: center;
}
.bg-light {
    background-color: #15a76e !important;
    box-shadow: 0px 0px 10px 0px;
    border-top: 24px solid #333a44;
}
.navbar-light .navbar-nav .nav-link {
    float: right;
    color: #24292f;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fefeff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fefeff;
}

.name_title {
    color: black;
    display: inline-block;
    margin-right: 200px;
}

.full_name {
    font-size: calc(1.0vw + 1.5vh);
    font-weight: bold;
    min-width: 10%;
    margin: 0;
}

.prof_title {
    font-size: calc(0.8vw + 1.25vh);
    white-space: nowrap;
    overflow: inherit;
    margin: -2.5% 0;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    background-size: cover;
    padding-left: 15%;
    padding-right: 15%;
}
.banner_section.cncbanner {
    width: 100%;
    float: left;
    background-image: url(../images/cncBanner.png);
    height: auto;
    background-size: cover;
}
.banner_section.astarmarchbanner {
    width: 100%;
    float: left;
    background-image: url(../images/astarmarchBanner.png);
    height: auto;
    background-size: cover;
}
.banner_section.iootbanner {
    width: 100%;
    float: left;
    background-image: url(../images/iootBanner.png);
    height: auto;
    background-size: cover;
}
.banner_section.wttbanner {
    width: 100%;
    float: left;
    background-image: url(../images/wttBanner.png);
    height: auto;
    background-size: cover;
}
.banner_section.ntgbanner {
    width: 100%;
    float: left;
    background-image: url(../images/ntgBanner.png);
    height: auto;
    background-size: cover;
}
.image_1 {
    width: 100%;
    float: center;
    padding-top: 0px;
}
.image_2 {
    width: 50%;
    float: left;
    padding-top: 0px;
    padding-left: 5%;
}

.portrait_image {
    width: 100%;
    float: center;
    padding-top: 0px;
    padding: 0% 10%;
}

video_1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
}

.embed_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed_container iframe,
.embed_container object,
.embed_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_text {
    width: 100%;
    float: left;
    font-size: calc(1vw + 1vh);
    color: #15a76e;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    padding: 1.5%;
    padding-right: 5%;
}
.game_title_home {
    width: 100%;
    float: left;
    font-size: calc(1vw + 1.75vh);
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    background-color: #15a76e;
    padding: 1.5% 3%;
    padding-right: 5%;
}
.game_title {
    width: 100%;
    float: left;
    font-size: calc(0.75vw + 1.25vh);
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #15a76e;
    padding: 5px 10px;
}
.banner_text {
    width: 100%;
    float: left;
    font-size: calc(0.5vw + 1.25vh);
    color: #fefeff;
    font-weight: 500;
    margin-left: 0px;
    line-height: 1.5;
    padding-right: 5%;
}
.proj_title_text {
    width: 100%;
    float: left;
    font-size: calc(1vw + 1vh);
    color: #15a76e;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    padding: 1.5%;
    padding-right: 5%;
}


#my_slider {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: relative;
    width: 10%;
    height: 10%;
    background: rgba(0, 0, 0, 1.0);
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.carousel-control-prev {
    float: left;
}

.carousel-control-next {
    float: right;
}

.section_header {
    width: 100%;
    float: left;
    font-size: 50px;
    color: black;
    background-color: #15a76e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.about_section_home {
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: auto;
    padding-bottom: 300px;
    padding-top: 150px;
}

.about_section {
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: auto;
    padding-bottom: 20%;
    padding-top: 5%;
}

.about_title_home {
    width: 100%;
    float: left;
    font-size: calc(1.0vw + 1.5vh);
    color: #2d343e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.project_section {
    width: 100%;
    height: auto;
    padding-bottom: 15%;
    padding-top: 5%;
}

.project_spacing {
    padding-bottom: 15%;
}

.explanation_spacing {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.project_subtitle_role {
    width: 100%;
    float: left;
    font-size: calc(0.625vw + 1.25vh);
    color: #15a76e;
    background-color: rgb(41, 40, 40);
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    padding-bottom: 0px;
}

.project_subtitle {
    width: 100%;
    float: left;
    font-size: calc(0.625vw + 1.25vh);
    color: #15a76e;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
    padding-bottom: 0px;
}

.project_text_1 {
    width: 100%;
    float: left;
    font-size: calc(0.5vw + 1.0vh);
    color: #fefeff;
    font-weight: 400;
    margin: 1.0vh;
    margin-left: 0vh;
    margin-right: 0vh;
    line-height: 1.5;
}

.explanation_text_1 {
    width: 100%;
    float: left;
    font-size: calc(0.5vw + 1.0vh);
    color: #fefeff;
    font-weight: 400;
    margin-left: 0px;
    line-height: 1.5;
}

.image_text_1 {
    width: 100%;
    text-align:center;
    font-size: 20px;
    color: #fefeff;
    font-weight: 400;
    margin-left: 0px;
    line-height: 1.5;
}

.more-details-button {
    background-color: #15a76e;
    color: #24292f;
    border: none;
    border-radius: 5%;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: calc(0.65vw + 1.15vh);
    margin: 2% 0;
    cursor: pointer;
}

.more-details-button:hover {
    color: #fefeff;
}

.banner_section.project_section {
    text-align: center;
}

.projectpage_section_banner {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 10%;
}

.projectpage_title {
    width: 100%;
    font-size: calc(0.75vw + 1.5vh);
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #15a76e;
    padding: 0;
    margin-bottom: 15px;
}

.projectpage_gametitle {
    width: 100%;
    float: left;
    font-size: calc(0.75vw + 1.5vh);
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.projectpage_roletitle {
    width: 100%;
    float: left;
    font-size: calc(0.625vw + 1.25vh);
    color: #fefeff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.projectpage_subtitle {
    width: 100%;
    float: left;
    font-size: calc(0.625vw + 1.25vh);
    color: #fefeff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding-top: 5%;
}

.project_bullet {
    list-style-type: disc;
    list-style-position: inside;
    width: 100%;
    float: left;
    font-size: calc(0.5vw + 1vh);
    color: #fefeff;
    font-weight: 400;
    margin-left: 0px;
    line-height: 1.5;
    margin: 10px 0;
}

.projectpage_section_desc {
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: auto;
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    padding-bottom: 300px;
    padding-top: 150px;
}

.project_title {
    width: 100%;
    float: left;
    font-size: 48px;
    color: #fefeff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.project_text_2 {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #fefeff;
    font-weight: 400;
    margin-left: 0px;
    line-height: 1.5;
}

.contact_title {
    width: 100%;
    font-size: 50px;
    color: #2d343e;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.contact_list {
    width: 100%;
    text-align: center;
}

.contact_list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact_list ul li {
    margin: 20px;
    text-align: center;
}

.contact_text {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
}

.about_text_home {
    font-size: calc(0.625vw + 1.25vh);
    line-height: 1.25;
}

.aboutme_text {
    font-size: calc(0.5vw + 1vh);
    line-height: 1.25;
}

.long_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #363636;
    margin-left: 0px;
    text-align: center;
}

.see_bt {
    width: 100%;
    float: right;
    font-size: 18px;
    text-align: center;
    background-color: #fcfcfd;
    color: #191919;
    border-left: 10px solid #599ee9;
    border-radius: 30px;
    border-right: 10px solid #599ee9;
    border-top: 4px solid #599ee9;
    border-bottom: 4px solid #599ee9;
    padding: 5px 0px;
    margin-top: 40px;
}

.see_bt a{
    color: #191919;
}
.see_bt a:hover{
    color: #599ee9;
}

.box_main {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #424242;
    padding: 40px;
    border-radius: 20px;
    display: flow-root;
}

.contact_section {
    width: 100%;
    float: left;
    background-color: #f2f7fd;
    height: 100%;
    padding-bottom: 30%;
    padding-top: 5%;
}

.main_bt {
    background: #ed1c24;
    border: none;
    color: #faf9f9;
    width: 160px;
    height: 58px;
    font-size: 24px;
    padding-top: 3px;
    border-radius: 30px;
    margin-left: 15px;
    text-align: center;
    padding-top: 8px;
    margin-top: 60px;
}
.main_bt a {
    color: #faf9f9;
}

.main_bt a:hover{
    color: #000;
}

.section_footer {
    position: fixed;
    bottom: 2.5%;
    width: 100%;
    line-height: 1%;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.useful_link{
    width: 100%;
    float: left;
}
.useful_link ul{
    margin: 0px;
    padding: 0px;
}

.useful_link li{
    color: #ffffff;
    font-size: 16px;
}

.useful_link li a{
    color: #ffffff;
}

.useful_link li a:hover{
    color: #599ee9;
}

.footer_section_2 {
    width: 100%;
    float: left;
    border-bottom: 1px solid #898989;
    padding-bottom: 40px;
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.social_icon ul {
    margin: 2%;
    padding: 0;
    list-style-type: none;
}

.social_icon li {
    display: inline-block;
    margin: 0 1vw; /* Use vw for consistent spacing */
}

.social_icon li a img {
    width: calc(2vh);
    height: auto;
}

.copyright_section {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #15a76e;
    height: 2.5%;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
}

.copyright_text{
    width: 100%;
    font-size: calc(0.25vw + 0.75vh);
    color: #ffffff;
    text-align: center;
}

.copyright_text a{
    color: #ffffff;
}

.copyright_text a:hover{
    color: #000;
}


.margin_top_0{
    margin-top: 90px;
}

.padding_top_0{
    margin-top: 0px;
}

.margin_top_2{
    margin-top: 90px;
}

.padding_video_0{
    margin-top: 0px; 
}